<h1>Manage Your tasks</h1>

<div class='task_container'>
  <h4>Found Tasks</h4>
  <ul class='tasks found_tasks'>
    <li class='task' href='/task/1'>
      <input type='checkbox' name='complete'/>
      <p>Talk about Wheel.js</p>
    </li>
    <li class='task' href='/task/2'>
      <input type='checkbox' name='complete'/>
      <p>Figure out what Wheel.js is ???</p>
    </li>
  </ul>
</div>

<div class='task_container'>
  <h4>Generated Tasks</h4>
  <ul class='tasks generate_tasks'>
  </ul>
</div>

<div class='nothings'>
  <a href='/my_sweet_nothing'>What? Nothing is happening! Oh except that log</a>
</div>


