.line {
  float: left;
  width: 100%;
  background-color: white;
  margin: 10px 0;

  >div {
    float: left;
    width: 10%;
    margin: 10px;
    padding: 10px;
    height: 20px;
    text-align: center;
  }
}

// non-html 5, drag and drop
.drag_wrapper {
  position: relative;
}

.draggable {
  background-color: pink;
  border: 3px dashed maroon;

  &.dragger {
    opacity: 0.8;
    position: absolute;
    float: left;
    z-index: 10000;
  }

  &.drag_revert {
    -webkit-transition-property: top, left;
    -webkit-transition-duration: 0.5s;
  }
}

// html 5 drag and drop
[draggable] {
  /*background-color: lightblue;*/
}
.html_draggable {
  border: 3px dashed blue;
  background-color: lightblue;
}
