.line {
  float: left;
  width: 100%;
  background-color: white;
  margin: 10px 0;

  >div {
    float: left;
    width: 10%;
    margin: 10px;
    padding: 10px;
    height: 20px;
    text-align: center;
  }
}

// non-html 5, drag and drop
.dragger {
  background-color: pink;
}
.dropper {
  border: 3px dashed maroon;
}

.dragging {
  opacity: 0.8;
  position: relative;
}

// html 5 drag and drop
[draggable] {
  background-color: lightblue;
}
.html_draggable {
  border: 3px dashed blue;
}
