.task_container {
  float: left;
  background-color: white;

  h4 {
    padding: 10px;
    margin: 0;
  }

  ul.tasks {
    float: left;
    width: 300px;
    padding: 20px 10px;
    margin: 0;
    list-style: none;

    li {
      padding: 5px;
      margin: 2px;
      border: 1px solid black;
      p {
        display: inline-block;
      }

      &.sending {
        background-color: #FF9;
      }

      &.error {
        background-color: #F99;
      }

      &.finished {
        background-color: #9FF;
      }
    }
  }
}
